{% extends "base.html" %}
{% block title %}
О нас
{% endblock %}
{% block content %}
{% block style %}
    <link rel="stylesheet" href="{{ static }}css/about.css" media="screen">
{% endblock %}

    <div class="container">
        <figure class="fig">
        <img src="{{ static }}images/about.png" class="img-centered">
         <figcaption>
             IT Online Course
            Международный образовательный проект, который готовит специалистов-практиков IТ-сферы
         </figcaption>
        </figure>
    </div>


{% endblock %}

